{% extends "base.html" %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Crear Nuevo Usuario</h2>
    <form action="/api/admin/crear_usuario" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email_usuario" required>
        </div>
        <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-select" id="rol" name="rol">
                <option value="1">Gratuito</option>
                <option value="2">Premium</option>
                <option value="0">Administrador</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear Usuario</button>
    </form>
</div>
{% endblock %}
